<form role="form" name="bookmarkDetailForm">
    <div class="form-group">
        <label for="bookmarkName">북마크 이름</label>
        <input type="text" class="form-control" name="bookmarkName" placeholder="북마크 이름">
    </div>
    <div class="form-group">
        <label for="bookmarkUrl">북마크 주소</label>
        <input type="text" class="form-control" name="bookmarkUrl" placeholder="북마크 주소">
    </div>
    <div class="form-group">
        <label for="exampleInputFile">북마크 설명</label>
        <textarea name="bookmarkDesc" class="form-control" cols="30" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-danger pull-right">취소</button>
    <button type="submit" class="btn btn-primary pull-right">저장</button>
    <button type="submit" class="btn btn-warning pull-right">삭제</button>
    <button type="submit" class="btn btn-danger pull-right">수정</button>
</form>